.heading-logo {

}

.section__opening {
  align-items: center;
  background: $secondary-background-color;
  display: flex;
  justify-content: center;
	min-height: 60vh;

  .section__opening--inner {
    margin: 0 auto;
    max-width: calc(100% - 40px);
    padding: 0 .938rem 4.063rem;
    text-align: center;
    width: 100%;
	}

	h1 {
		display: inline;
		font-family: $font-stack;
		font-size: $h1-mobile;
		font-weight: $font-weight-heavy;
		line-height: $line-height-large;
		text-transform: uppercase;

		span.heading-bg {
			background: $quaternary-background-color;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
			color: $primary-text-color;
			padding: .25rem .625rem 0;
		}

		span.heading-blurb {
			color: $quaternary-text-color;
			display: block;
			font-size: 20px;
			font-style: normal;
			margin: 50px auto 0;
			max-width: 800px;
			text-align: center;
			text-transform: none;
			width: 100%;
		}
	}
}

.section__about {
  background: $primary-background-color;

  .section__inner {
    display: block;
	}
}

.section__clients {
  background: $tertiary-background-color;
}

.section__quotes {
  background: $tertiary-background-color;

	.section__inner {
    .section__inner--left,
		.section__inner--right {
			font-style: italic;
			text-align: center;
			width: 100%;
		}
	}
}

.section__skills {
  hr {
    background: #efefef;
    border: 0;
    height: 3px;
    margin: 30px auto;
    padding: 0;
    width: 50px;
	}

	ul {
		display: inline;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		margin: 0;
		padding: 0;
	}
}


.section__inner {
  margin: 0 auto;
  max-width: 75rem;
  padding: 4.375rem .938rem;
  text-align: center;

  .section__inner--left,
	.section__inner--right {
    text-align: center;
	}
}

.section__overview {
	background: $quaternary-background-color;
	clip-path: polygon(0 100px,100% 0,100% 100%,0 100%);
	margin: -100px auto 0;
	padding-top: 98px;
}

.icons__stack {
	text-align: center;

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 100%;

		li {
			display: inline-block;
			width: calc(100% / 2);
		}
	}

	svg {
		display: block;
		height: 100px;
		margin: 15px auto;
		padding: 0 15px;
		width: 100px;
	}

	svg.fa-php {
		height: 100px;
		width: 140px;
	}
}

.section__opening--inner .heading-logo {
	display: none;
}


@include r(768) {

	.section__opening {
		h1 {
			font-size: $h1-tablet;
		}
	}

	.icons__stack ul li {
		width: calc(100% / 3);
	}

}


@include r(1024) {

	.section__opening--inner .heading-logo {
		display: block;
		width: 20%;

		svg {
			max-width: 175px;
		}
	}

	.section__opening--inner svg path {
		fill: $quaternary-background-color;
	}

  .section__opening {
    .section__opening--inner {
			align-items: center;
			display: flex;
			max-width: 75rem;
      text-align: left;
		}

    h1 {
			font-size: $h1;

      span.heading-blurb {
				margin-left: 0;
				margin-right: 0;
				text-align: left;
			}
		}
	}

  .page-template-home h1 {
		display: block;
		font-size: $h1-home;
		max-width: 720px;
	}

  h2 {
    text-align: left;
	}

  .section__inner {
    display: flex;
    padding: 4.375rem 1.875rem;

    .section__inner--left {
      text-align: left;
      width: 20%;
    }

    .section__inner--right {
      text-align: left;
      width: 80%;
		}
	}

	.section__quotes {
		.section__inner {
			.section__inner--left,
			.section__inner--right {
				text-align: left;
				width: 50%;
			}
		}
	}

	.section__skills {
		.section__inner {
			flex-direction: row-reverse;

			h2 {
				text-align: right;
			}
		}

		hr {
			margin-left: 0;
			margin-right: 0;
		}

		li {
			display: inline-block;
			content: "\2022";
			margin: 0;
			padding: 0;

			&:after {
				display: inline-block;
				content: "\2022";
				color: #000;
				font-size: 15px;
			}
		}

		li:last-of-type {
			&:after {
				display: none;
			}
		}
	}

	.home .section__opening--inner h1 {
		margin-left: 30px;
	}

	.home .coffeemug {
		display: none;
	}

	.icons__stack ul li {
		width: calc(100% / 6);
	}

}

@media screen and ( min-height: 1000px ) {
	.section__opening {
		min-height: 71vh;
	}
}