.section__opening.page__opening {
  min-height: 283px;
}

.page__wrapper {
  min-height: 80vh;
}

.section__grey {
  background-color: $tertiary-background-color;
}

.entry-content {
  margin: 0 auto;
  max-width: 75rem;
  padding: 4.375rem 1.875rem;
  text-align: left;
}

article.page .entry-content {
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

main section:nth-child(odd) {
  // background-color: $tertiary-background-color;
}

main p {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;

  &:last-of-type {
    padding-bottom: 4.375rem;
  }
}

main section p:last-of-type {
  padding-bottom: 0;
}
