.blog {

    article .entry-content {
        padding-bottom: 0;
    }

    article .entry-content:after {
        border-bottom: 3px solid $tertiary-background-color;
        content: '';
        display: block;
        padding: 0 1.875rem;
    }

    article .entry-title,
    article .entry-title a,
    article .entry-title a:hover,
    article .entry-title a:visited,
    article .entry-title a:focus {
        color: $primary-text-color;
        margin-bottom: 0;
        max-width: 800px;
        text-align: left !important;
        text-decoration: none;
        text-transform: uppercase;
    }

    article .entry-meta {
        color: $primary-text-color;
        font-size: 0.875rem;
        margin-top: 0;
        max-width: 800px;
    }

    article .entry-excerpt {
        max-width: 800px;
    }

}

.categories-list {

    ul {
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        background: $tertiary-background-color;
        color: $primary-text-color;
        display: inline-block;
        padding: 3px 5px 2px;
        margin-right: 5px;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover,
        &:visited {
            color: $primary-text-color;
            text-decoration: underline;
        }
    }
}

.single .categories-list a {
    background: $quaternary-background-color;
}
