$font-stack: 'Courier New', monospace;
$font-weight-light: 300;
$font-weight-heavy: 600;

$font-size-base: 16px;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$line-height-small: 1.2;
$line-height-medium: 1.4;
$line-height-large: 1.6;

$h1: 42px;
$h1-tablet: 30px;
$h1-mobile: 26px;
// $h1-home: 66px;
$h1-home: 40px;

$h2: 26px;

$primary-text-color: #000;
$primary-background-color: #fff;
$primary-border-color: #000;

$secondary-text-color: #fff;
$secondary-background-color: #000;

$tertiary-background-color: #efefef;

$quaternary-text-color: #f5cb5c;
$quaternary-background-color: #f5cb5c;

$quinary-background-color: #202730;


$transition-speed: .75s;


// quaternary, quinary, senary, septenary, octonary, nonary, denary.
