.button,
.wpcf7-submit {
	background-color: $quaternary-text-color;
	border: 3px solid black;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
	margin-top: 15px;
	padding: 10px 20px;
	text-decoration: none;
	// transition: .75s all;

	&:focus,
	&:hover {
		background-color: #000;
		border: 3px solid $quaternary-text-color;
		color: $quaternary-text-color;
		opacity: 1;
		// transition: .75s all;
	}
}