.wpcf7-form {
    margin-top: 50px;
}

input,
select,
textarea {
    border: 3px solid #000;
    padding: 10px 20px;
}

.wpcf7-form p {
    input,
    select {
        max-width: 300px;
        width: 100%
    }
    textarea {
        max-width: 300px;
        width: 100%
    }
}

.wpcf7-form label {
    font-weight: bold;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    background: #ff0000 !important;
    border: 3px solid #ff0000 !important;
    color: #fff;
    display: inline-block;
}

div.wpcf7-response-output {
    margin: 20px 0;
    padding: 10px 20px;
}

div.wpcf7-mail-sent-ok {
    background: #398f14 !important;
    border: 3px solid #398f14 !important;
    color: #fff;
    display: inline-block;
}


.wpcf7-form input.wpcf7-submit {
    width: auto;
}

@include r(768) {
    .wpcf7-form p {
        input {
            max-width: 304px;
        }
        select {
            max-width: 350px;
        }
        textarea {
            max-width: 500px;
        }
    }
}
