.image {
	display: inline-block;
	margin: 1em;
	strong {
		display: block;
		text-align: center;
		width: 100%;
	}
}
.post {
	&__image-container {
		width: 240px; // the same width and height as for the <img>
		height: 240px;
		&.compat-object-fit {
			position: relative; // for the link fix
			background-size: cover;
			background-position: center center;
			> a { // link fix
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.post__featured-image { // hide image if object fit is not supported
				display: none
			}
		}
	}
	&__featured-image {
		width: 240px;
		height: 240px;
		object-fit: cover;
	}
}