html,
body {
  font-size: $font-size-base;
}

body {
  font-family: $font-stack;
  font-weight: $font-weight-light;
}

strong {
  font-weight: $font-weight-heavy;
}

.medium-text {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.large-text {
  font-size: $font-size-medium;
  line-height: $line-height-large;
}

h2 {
  color: $primary-text-color;
  display: block;
  font-family: $font-stack;
  font-size: $h2;
  font-weight: $font-weight-heavy;
  line-height: $line-height-large;
  margin-top: 1.25rem;
  text-align: center;
  text-transform: uppercase;

  span {
    background: $quaternary-background-color;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .25rem .625rem 0;
	}
}

blockquote {
  margin: 1.25rem 0;
}

#footer .footer__email {
  font-size: $font-size-medium;
}

h1 {
  color: $quaternary-text-color;
  display: inline;
  font-family: $font-stack;
  font-size: $h1-mobile;
  font-weight: $font-weight-heavy;
  line-height: $line-height-large;
  text-transform: uppercase;

	// span {
	// 	background: $quaternary-background-color;
	// 	padding: 0.25rem 0.625rem 0;
	// 	-webkit-box-decoration-break: clone;
	// 	box-decoration-break: clone;
	// }
}

.heading-blurb {
  text-align: center;
}

section {
  a,
	a:visited {
    color: inherit;
	}
}

.entry-meta {
  color: $quaternary-text-color;
  margin-top: 22px;
}

.section__overview h2 {
  text-align: center;
}

.entry-excerpt {
  a,
	a:visited {
    color: inherit;
	}
}


@include r(1024) {

  .heading-blurb {
    text-align: left;
  }

  blockquote {
    margin: 1.25rem;
	}

  .large-text {
    font-size: $font-size-large;
	}

  #footer .footer__email {
    font-size: $font-size-large;
	}

}
