#footer {
	background-color: $secondary-background-color;
	color: $quaternary-text-color;
	font-size: $font-size-medium;
	padding: 4.375rem 0.938rem 5.375rem;
	text-align: center;

	a {
		color: $quaternary-text-color;

		&:focus,
		&:hover {
			background-color: $quaternary-text-color;
			color: black;
			text-decoration: none;
			// transition: .75s all;
		}
	}

	.footer__tiny-text {
		margin-top: 1.875rem;
		font-size: $font-size-tiny;
	}
}

.fa-at {
	height: 20px;
	margin: 0 3px;
	position: relative;
	top: 5px;
	width: 20px;
}

.hide-at {
	display: inline-block;
	height: 0;
	opacity: 0;
	width: 0;
}


@include r(1024) {

	#footer {
		padding: 4.375rem 1.875rem 5.375rem;
	}

}