body {
  background: $primary-background-color;
}

nav {
  background: $secondary-background-color;

  .fa-coffee {
    width: 30px;

    path {
      fill: $quaternary-background-color;
    }
	}

  .menu__inner {
    display: flex;
    padding: 20px;
	}

  .menu__left,
	.menu__right {
    width: 100%;

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
		}

    li {
      display: inline-block;
      padding: 0 10px 5px;
      vertical-align: top;
		}

    a {
      color: $quaternary-text-color;
      font-size: 20px;
      text-decoration: underline;
      // transition: .75s all;

      &:focus,
			&:hover {
        background-color: $quaternary-text-color;
        color: #000;
        text-decoration: none;
        // transition: .75s all;
			}
		}

		a.coffeemug,
		a.coffeemug:focus,
		a.coffeemug:hover {
			background-color: transparent;
		}

		.hire-me {
			font-weight: $font-weight-heavy;
		}
	}

	.menu__right {
		margin-left: auto;
		text-align: right;
		width: calc(100vw - 100px);
	}
}
